.box {
	width: 100%;
	height: 100%;
}

.red {
	background-color: rgb(169, 14, 14);
	border-top-left-radius: 100px;
	transition: 0.1s ease-in-out all;
}

.red:active {
	background-color: red;
}

.blue {
	border-top-right-radius: 100px;
	background-color: blue;
	transition: all 0.1s ease-in-out;
}

.blue:active {
	background-color: rgb(39, 39, 122);
}

.green {
	border-bottom-right-radius: 100px;
	transition: all 0.1s ease-in-out;
	background-color: rgb(18, 78, 18);
}

.green:active {
	background-color: green;
}

.yellow {
	background-color: rgb(201, 201, 59);
	transition: all 0.1s ease-in-out;
	border-bottom-left-radius: 100px;
}

.yellow:active {
	background-color: yellow;
}
