.box {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	cursor: pointer;
}

.red {
	background-color: rgb(169, 14, 14);
	border-top-left-radius: 100px;
	transition: 0.1s ease-in-out all;
}

.red:active {
	background-color: red;
}

.redActive {
	background-color: red;
}

.blue {
	border-top-right-radius: 100px;
	background-color: rgb(1, 1, 173);
	transition: all 0.1s ease-in-out;
}

.blue:active {
	background-color: rgb(46, 46, 251);
}

.blueActive {
	background-color: rgb(46, 46, 251);
}
.green {
	border-bottom-right-radius: 100px;
	transition: all 0.1s ease-in-out;
	background-color: rgb(18, 78, 18);
}

.green:active {
	background-color: rgb(3, 188, 3);
}

.greenActive {
	background-color: rgb(3, 188, 3);
}

.yellow {
	background-color: rgb(201, 201, 59);
	transition: all 0.1s ease-in-out;
	border-bottom-left-radius: 100px;
}

.yellow:active {
	background-color: yellow;
}

.yellowActive {
	background-color: yellow;
}

.success {
	background-color: rgb(3, 188, 3) !important;
	animation: blink 0.5s infinite alternate;
}

.active {
	background-color: rgba(255, 0, 0, 0) !important;
	animation: blink 0.5s infinite alternate;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}
